<p>
  x: <span id="x"></span>
  y: <span id="y"></span>
</p>


<a href="http://dontclickthis.com">don not click this</a>

<div class="one" id="a">1a</div>
<div class="one" id="b">1b</div>
<div class="one" id="c">1c</div>
<div class="two" id="d">2a</div>
<div class="two" id="e">2b</div>

<div class="list" id="f">
  <ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li><p id="j"><span id="t">Super Deep Nesting</span></p></li>
  </ul>
</div>

<p class="status"></p>

<%= form_tag '/' do %>
  <%= text_field_tag 'name', nil, :placeholder => 'name' %>
  <%= text_field_tag 'age', nil, :placeholder => 'age' %>
  <%= submit_tag 'enter data' %>
<% end %>
